/*mark.js jump to highlight search words*/
mark{
    background: yellow;
}

mark.current{
    background: orange;
}

input.searchbar{
    width:20%;
}
/*lecture 37 coursera*/
@font-face{
    font-family: 'Street Wars';
    src:url("../public/fonts/'Street Wars Demo.ttf'")
    format("truetype");
    src:url("../public/fonts/'Street Wars Demo.otf'")
    format("opentype");
}
@font-face{
    font-family: "Marsnev", sans-serif;
    src:url("../public/fonts/MARSNEVENEKSK-Regular.otf")
    format("opentype");
    src:url("../public/fonts/MARSNEVENEKSK-Clean.otf")
    format("opentype");
}
@font-face{
    font-family: "Street Writers", sans-serif;
    src:url("../public/fonts/'Street Writers.ttf'")
    format('truetype');
}
@font-face{
    font-family: "Stylin Break", sans-serif;
    src:url("../public/fonts/'Stylin' BRK DEMO.ttf'")
    format("truetype");
}
@font-face{
    font-family: "tag type", sans-serif;
    src:url("../public/fonts/tagtype-freefont.ttf")
    format("truetype");
}
@font-face{
    font-family: 'Urban Slick';
    src:url('../public/fonts/Urban_slick.ttf')
    format('truetype');
}

/*parallax*/
html {
    height: 100%;
    margin:0;
    border:0
    
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

.parallax {
    /* The image used */
    background-image: url("../public/imgs/food/smVeggies.jpg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;

}
/*starter*/
body {
    height:100%;
    font-family: 'Urban Slick', sans-serif;
    margin:0;
    padding:0;
    border:0;
}
a.navbar-brand{
    font-family: 'Urban Slick', sans-serif;
    border:none;
    margin:none;
}
main.container{
    padding-top:0px;
}
div.top-title{
    text-align:center;
    margin:0 auto;
    border:0 auto;
    padding-top: 50px;
}

/*grid, row then col*/

.themed-grid-col {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: transparent;
    border: 1px solid rgba(86, 61, 124, .2);
}

/* MENU CATEGORIES PAGE */
.category-tile { 
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 15px auto;
    padding: auto;
}
.category-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
}
.category-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}
  
  /*for bottom maps*/
#pic-tile1, #pic-tile2, #pic-tile3, #pic-tile4, #pic-tile5, #pic-tile6 {
    height: 350px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}
#map-tile1, #map-tile2, #map-tile3, #map-tile4, #map-tile5, #map-tile6{
    height: 400px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}

#map-tile1:hover, #map-tile2:hover, #map-tile3:hover, #map-tile4:hover,
#map-tile5:hover, #map-tile6:hover,
#pic-tile1:hover, #pic-tile2:hover, #pic-tile3:hover, #pic-tile4:hover
#pic-tile5:hover, #pic-tile6:hover{
    box-shadow: 0 1px 5px 1px #cccccc;
}

#pic-tile1{
    background: url('../public/imgs/food/veganKFCStore.jpeg') no repeat;
    background-position: center;
}

#pic-tile2{
    background: url('../public/imgs/food/naturesFareMkt.png') no repeat;
    background-position: center;
}
#pic-tile3{
    background: url('../public/imgs/food/veganKFCStore.jpeg') no repeat;
    background-position: center;
}
#pic-tile4{
    background: url('../public/imgs/food/veganKFCStore.jpeg') no repeat;
    background-position: center;
}

#pic-tile1 span, #pic-tile2 span, #pic-tile3 span, #pic-tile4 span,
#map-tile1 span, #map-tile2 span, #map-tile3 span, #map-tile4 span{
    position: absolute;
    bottom:0;
    right:0;
    width:100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color:#fff;
    opacity:.8;
}


.quote{
    font-family:'Urban Slick', sans-serif;
    padding: 5%;
}

.image-100w > img{
    margin: 0 auto;
    width:100%;
}
figcaption{
    text-align: center;
}
  
/*emphasis*/
em{
    font-style: bold;
    font-size: 200%;
}
.graffiti{
    font-family: "Urban Slick", sans-serif;
}

strong, h4{
    font-size:200%;
}
/*inline instead of this body > main > div > h1 > p{font-family: "Urban Slick",
sans-serif; font-size: large;
}
